*{
    box-sizing: border-box;
}
.all{
    padding: 20px;
    border-radius: 20px 20px 0 0;
}
.tableAll{
    border-radius: 20px 20px 0 0;
}
.container{
    font-family: "Helvetica Neue", Arial, sans-serif;
    font-size: 13px;
    color: gray;
}
