.calendar{
    box-sizing: border-box;
    margin: 0 auto;
    width: 550px;
    height: 650px;
    /* padding:0 20px; */
    border: solid 1px #ccc;
    border-radius: 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    background-color: #f2f2f2;  
}
.container{
    /* position: relative; */
    /* box-sizing: border-box; */
    padding: 10px;
    padding-left: 7px;
    width: 548px;
    background-color: #f2f2f2;  
    border-radius: 20px;
}
.containerLi{
    /* display: ; */
    grid-template-columns: repeat(7,1fr);
    /* grid-gap: 10px; */
    width: 80px;
    height: 80px;
    font-size: 20px;
    font-family: "Helvetica Neue", Arial, sans-serif;
    /* text-align: center;
    vertical-align: middle; */
    margin-top: 20px;
    margin-left: 30px;
    transition: background-color 0.3s ease;
}
.containerLi:hover{
        /* margin-right: 40px; */
        border-radius: 5px;
        /* width: 70px; */
        border: none;
        background-color: rgb(103, 171, 226);
    
}
button{
    border-radius: 5px;
    background-color: white;
    /* color: blue; */
    width: 100px;
    height: 30px;
    border: none;
    cursor:pointer;
    transition: background-color 0.3s ease;
}
button:hover{
    background-color: rgb(157, 205, 245);
}
.content{
    background-color: white;
    height: 92%;
    border-radius: 20px;
}
.sunday,.saturday {
    background-color: rgba(236, 183, 173, 0.6);
    border-radius: 5px;
    color: rgb(165, 12, 12);
}
.grey{
    color: #ccc;
}
.lunarDay{
    font-size: 15px;
    margin-top: 5px;
    color: grey;
    font-weight: normal;
}
.selected{
    background-color: rgb(103, 171, 226) ;
    color: white;
    border-radius: 5px;
}